
html, body { margin: 0; padding: 0; }
.flex-container
{
    display: flex;
    position: absolute;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.sound-box-container
{
    width: 25%;
    height: 25%;

    background-color: #eee;
    box-sizing: border-box;
    border-left:   2px solid #aaa;
    border-top:    2px solid #aaa;
    border-right:  2px solid #888;
    border-bottom: 2px solid #888;
}
.sound-box
{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.sound-box-container:hover { background-color: #ddd; }

.sound-box-container:not(:hover) .on-hover  { display: none; }
.sound-box-container:hover .off-hover { display: none; }

.sound-box input { width: 100%; }

.i-btn {
    padding: 5px;
    margin-right: 1rem;
}
.i-abs {
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
}



.mosaic-audio
{
    display: flex;
    width: 100%;
    height: 100%;
}
.tile-audio
{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.tile-youtube { color: red; }
.tile-file:hover { background-color: #add; }
.tile-youtube:hover { background-color: #fbb; }